services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./database:/var/www/html/database
      - ./storage:/var/www/html/storage
    restart: unless-stopped

